<%- include('components/header')%>
  <body>
    <%- include('components/navbar')%>
    <!-- HEADING -->
    <div class="main-heading">
      <div class="heading">
        <h1>
          HELLO WORLD<span>!</span>
          <p>Let's learn to code</p>
        </h1>
      </div>
    </div>
    <%- include('components/lessonsComponent')%>
    <%- include('components/contactComponent')%>
    <div class="clear-fix"></div>
    <%- include('components/footer')%>
  </body>
</html>